<!DOCTYPE html>
<html>
<head>
    <title>Customer Care - Voice Agent Screen</title>
    <link rel="stylesheet" href="//media.twiliocdn.com/taskrouter/quickstart/agent.css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <!-- <script src="//media.twiliocdn.com/taskrouter/js/v1.14/taskrouter.min.js"></script> -->
    <script src="//media.twiliocdn.com/taskrouter/js/v1.20/taskrouter.min.js"></script>
    <script type="text/javascript">
        const activity_Offline	= "WA6cff497e588b68cb826376b6810db370"
        const activity_Available	= "WA9e70a07fcfabfe70380182829d808b33"
        const activity_Unavailable	= "WAf8bb3dfe71aa328e884f4a5e092431ec"
        const activity_Busy	= "WAb399dab8c30f9bdc5f42e3a10d34af83"
        zoom = "";
        newrow = "";
        agora = "";
        aboutme = "";
        var currentReservedTask;
        var incaseLost;
        var initialWorkerActivity;
        var currentReservations;
        //stat variables = 
        var twilio_activities = {"activities":[{"sid":"WA6cff497e588b68cb826376b6810db370","friendly_name":"Offline"},{"sid":"WA9e70a07fcfabfe70380182829d808b33","friendly_name":"Available"},{"sid":"WAf8bb3dfe71aa328e884f4a5e092431ec","friendly_name":"Unavailable"},{"sid":"WAb399dab8c30f9bdc5f42e3a10d34af83","friendly_name":"Busy"}]}
        /* Subscribe to a subset of the available TaskRouter.js events for a worker */
        function registerTaskRouterCallbacks() {
            worker.on('ready', function(worker) {

                //if worker is stuck in busy state with no tasks, move to offline
                console.log('^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^')
                console.log(worker)
                console.log(currentReservations)
                console.log(initialWorkerActivity)
                if(!currentReservations.data[0] && worker.activityName == "Busy"){
                    worker.update({"ActivitySid":activity_Offline})
                    //start lesson button is hidden, reshow
                    start_lesson_button = document.getElementById('accept_res');
                    console.log('should be hiding the start lesson button now')
                    start_lesson_button.style.display = "none";

                }else{
                    start_lesson_button = document.getElementById('accept_res');
                        console.log('should be hiding the start lesson button now')
                        start_lesson_button.style.display = "inline-block";
                }


                console.log('are we always on ')
                console.log(worker)
                initialWorkerActivity = worker.activityName;

                agentActivityChanged(worker.activityName);
                logger("Successfully registered as: " + worker.friendlyName)
                logger("Current activity is: " + worker.activityName);


                //displays the instructor name
                var elements = document.getElementsByClassName('instructor_name');
                var i = elements.length;
                console.log(elements)
                while (i--) {
                    elements[i].innerHTML = worker.friendlyName;
                    console.log(elements[i])
                }



                console.log(worker.taskSid)
                //not sure if this is need here, but this runs for almost everything
                //complete_task(worker, currentReservedTask);

                if (worker.attributes.ZOOM){
                    zoom = worker.attributes.ZOOM;
                    videoclick("zoom", zoom);
                }
                if (worker.attributes.Newrow){
                    newrow = worker.attributes.Newrow;
                    videoclick("newrow", newrow);
                }
                if (worker.attributes.agora){
                    agora = worker.attributes.agora;
                    videoclick("agora", agora);
                }
                if (worker.attributes.about){
                    about = worker.attributes.about
                }
                console.log('dddddddddddddd');
                console.log(zoom)
                console.log(worker.sid)             // 'WKxxx'
      // 'Worker 1'
      // 'Reserved'

    


            });

            worker.on('activity.update', function(worker) {
                agentActivityChanged(worker.activityName);
                logger("Worker activity changed to: " + worker.activityName);
            });

            worker.on("reservation.created", function(reservation) {
                logger("-----");
                console.log(reservation);
                //task has been create, so track sid for completion
                currentReservedTask = reservation.taskSid;
                incaseLost =  reservation.taskSid;
                logger("You have been reserved to handle a call!");
                logger("Call from: " + reservation.task.attributes.name);
                logger("Selected language: " + reservation.task.attributes.language);
                logger("level: " + reservation.task.attributes.level);
                logger("-----");
                var elements = document.getElementsByClassName(('agent-activity ' + 'Busy'));
                console.log(elements);
                elements.item(0).style.display = 'block';
                document.getElementById("student_level").innerHTML = reservation.task.attributes.level ;
                document.getElementById("student_language").innerHTML = reservation.task.attributes.language ;
                document.getElementById("student_name").innerHTML = reservation.task.attributes.name ;
                acceptReservation(reservation);
                //hide online status
                //console.log(document.getElementsByClassName("agent-activity Available"));
                //document.getElementsByClassName("agent-activity Available").style.display = "none";
                document.getElementById("available_1").style.display = "none";
                /*
                //this stuff works
                var params = {"Priority":"15"};
                logger(reservation.taskSid);
worker.updateTask(reservation.taskSid, params,
    function(error, updatedTask) {
        if(error) {
            console.log(error.code);
            console.log(error.message);
            return;
        }
        console.log("Updated Task Priority: "+updatedTask.priority);
    }
);
        */

            });

            worker.on("reservation.accepted", function(reservation) {
                console.log('do we find you here?')

                //switch instructer work to status busy
                logger("Reservation " + reservation.sid + " accepted!");
                agentActivityChanged('Busy');
                worker.update({"ActivitySid":activity_Busy});
                
            });

            worker.on("reservation.rejected", function(reservation) {
                logger("Reservation " + reservation.sid + " rejected!");
            });

            worker.on("reservation.timeout", function(reservation) {
                logger("Reservation " + reservation.sid + " timed out!");
                //display online status
                //document.getElementById("available_1").style.display = "none";     
            });

            worker.on("reservation.canceled", function(reservation) {
                logger("Reservation " + reservation.sid + " canceled!");
            });
            /*
            worker.completeTask(taskSid, function(error, completedTask) {
                if(error) {
                    console.log(error.code);
                    console.log(error.message);
                    return;
                }
                console.log("Completed Task: "+completedTask.assignmentStatus);
            });
            */
        }

        /* Hook up the agent Activity buttons to TaskRouter.js */

        function bindAgentActivityButtons() {
            // Fetch the full list of available Activities from TaskRouter. Store each
            // ActivitySid against the matching Friendly Name
            var activitySids = {};
            worker.activities.fetch(function(error, activityList) {
                if(error) {
                                console.log(error.code);
                                console.log(error.message);
                                return;
                }    

                console.log(activityList)
                var activities = activityList.data; 

                console.log(activities)
                logger(activityList)
                var i = activities.length;
                while (i--) {
                    activitySids[activities[i].friendlyName] = activities[i].sid;
                    logger(activitySids[activities[i].friendlyName]);
                    logger(activities[i].sid);
                }
            });

            /* For each button of class 'change-activity' in our Agent UI, look up the
             ActivitySid corresponding to the Friendly Name in the button’s next-activity
             data attribute. Use Worker.js to transition the agent to that ActivitySid
             when the button is clicked.*/
            var elements = document.getElementsByClassName('change-activity');
            var i = elements.length;
            console.log('-----------------------------');
            logger(activitySids)
            console.log()
            console.log('-----------------------------');
            logger(activitySids)
            while (i--) {
                elements[i].onclick = function() {
                    logger(i);
                    logger(this.dataset.nextActivity)
                    var nextActivity = this.dataset.nextActivity;
                    
                    var nextActivitySid = activitySids[nextActivity];
                    logger('next activity' + nextActivitySid)
                    worker.update({"ActivitySid":nextActivitySid});
                }
            }
        }

        function videoclick(classId, videolink){
           // console.log("try to set video buttons");
            //turn button on
            video_button = document.getElementById(classId);
            //console.log(video_button)
            video_button.style.display = "inline-block";
            video_button.onclick = function(){
                console.log('button has been clicked, time to open video link to:');
                console.log(videolink);
                window.open(videolink)
                
            }            
        }

        function resetvideoclick(){

        }

        function complete_task(worker, currentReservedTask){
            logger("time to complete" + currentReservedTask)
            console.log(worker)
            logger(worker.reservation)
            console.log('ddddd')
            console.log('goin to complete this task: ' + currentReservedTask)
            //df = document.getElementsByClassName("complete-task");
            //console.log(df.length)
            document.getElementById('dafuq').onclick = function(){
                console.log('task has been completed')
                
                
                //WTd26e95d182f05eaa0f9ad7b5386c9647
                if (currentReservedTask){
                    taskSid = currentReservedTask;
                }else{
                    taskSid = incaseLost;
                }
                
                //taskSid = "WTd26e95d182f05eaa0f9ad7b5386c9647";
                //worker.reservation.completeTask(taskSid, function(error, completedTask) {
                console.log(taskSid)
                //console.log(incaseLost)
                //return
                //cant run this without taskid
                if(taskSid){
                    worker.completeTask(taskSid, function(error, completedTask) {
                            if(error) {
                                console.log(error.code);
                                console.log(error.message);
                                return;
                            }
                            console.log("Completed Task: "+completedTask.assignmentStatus);
                            agentActivityChanged('wrapup');
                        }
                    );
                }
            }
            //refresh worker stats
            get_worker_stats()
           
        }

        function acceptReservation(reservation){
            console.log(reservation)
            logger("time to accept")
            console.log(worker)
            logger(worker.reservation)
            
            //df = document.getElementsByClassName("complete-task");
            //console.log(df.length)
            document.getElementById('accept_res').onclick = function(){
                console.log('accept reservation')
                console.log(worker.reservation)

            console.log('before post');
            console.log(reservation);
            //just incase its not been set
            currentReservedTask = reservation.taskSid;
            data = {"taskSid":reservation.taskSid, "reservationSid":reservation.sid}
            console.log(data);
                $.ajax({
                    url: '/accept_reservation',
                    data: JSON.stringify(data),
                    contentType: 'application/json;charset=UTF-8',
                    type: 'POST',
                    dataType: "json",
                    success: function(response) {
                        console.log(response);
                        worker.update({"ActivitySid":activity_Busy});
                        //disable the start button
                        start_lesson_button = document.getElementById('accept_res');
                        console.log('should be hiding the start lesson button now')
                        start_lesson_button.style.display = "none";

                        //display video sections 
                        start_lesson_button = document.getElementById('videosection');
                        console.log('should be hiding the start lesson button now')
                        start_lesson_button.style.display = "block";                       
                    },
                    error: function(error) {
                        console.log(error);
                        console.log('could not start lesson')
                    }
                });

            }
        }

            
            
        


        /* Update the UI to reflect a change in Activity */

        function agentActivityChanged(activity) {
            logger('activity changed')
            logger(activity)
            hideAgentActivities();
            showAgentActivity(activity);
            //refresh worker stats
            get_worker_stats()
        }

        function hideAgentActivities() {
            var elements = document.getElementsByClassName('agent-activity');
            var i = elements.length;
            while (i--) {
                elements[i].style.display = 'none';
            }
        }

        function showAgentActivity(activity) {
            //activity = activity.toLowerCase();
            console.log(activity)
            var elements = document.getElementsByClassName(('agent-activity ' + activity));
            console.log(elements);
            elements.item(0).style.display = 'block';
        }

        /* Other stuff */

        function logger(message) {
            var log = document.getElementById('log');
            log.value += "\n> " + message;
            log.scrollTop = log.scrollHeight;
        }

        
        
        window.onload = function() {
            // Initialize TaskRouter.js on page load using window.workerToken -
            // a Twilio Capability token that was set from rendering the template with agents endpoint
            logger("Initializing...");
            window.worker = new Twilio.TaskRouter.Worker("{{ worker_token }}");
            //window.workspace = new Twilio.TaskRouter.Workspace("{{ worker_token }}");

            // worker.activities.fetch(
            // function(error, activityList) {
            //         if(error) {
            //             console.log(error.code);
            //             console.log(error.message);
            //             return;
            //         }
            //         var data = activityList.data;
            //         for(i=0; i<data.length; i++) {
            //             console.log(data[i].friendlyName);
            //         }
            //     }
            // );
            registerTaskRouterCallbacks();
            bindAgentActivityButtons();
            //acceptReservation();
            //complete_task();
            //try to get the task that the current worker has - this is done incase of page refresh
            //or some issues to force cancel/complete previous task
            current_worker_sid = "{{current_worker_sid}}";
            console.log(window.worker);
            console.log(current_worker_sid)
            console.log('above');
            var queryParams = {"ReservationStatus":"accepted", "WorkerSid":current_worker_sid};
            worker.fetchReservations(
                function(error, reservations) {
                    if(error) {
                        console.log(error)
                        console.log(error.code);
                        console.log(error.message);
                        return;
                    }
                    console.log(reservations)
                    var data = reservations.data;
                    for(i=0; i<data.length; i++) {
                        console.log(data[i].sid);
                        
                    }
                    console.log('ggggggggggggggggggggggg')
                    console.log(data)
                    console.log(reservations.data[0])
                    console.log('there appears to be a ressssss')

                    try{
                        if(reservations.reservationStatus == "accepted"){
                            currentReservedTask = reservations.data[0].taskSid
                            currentTaskAttr = reservations.data[0].task.attributes
                            document.getElementById("student_level").innerHTML = currentTaskAttr.level ;
                            document.getElementById("student_language").innerHTML = currentTaskAttr.language ;
                            document.getElementById("student_name").innerHTML = currentTaskAttr.name ;
                            //found a reservation attached to the worker - update status to busy
                            agentActivityChanged('Busy');
                            
                            worker.update({"ActivitySid":activity_Busy});
                            //disable the start button
                            start_lesson_button = document.getElementById('accept_res');
                            console.log('should be hiding the start lesson button now')
                            start_lesson_button.style.display = "none";

                            //display video sections 
                            start_lesson_button = document.getElementById('videosection');
                            console.log('should be hiding the start lesson button now')
                            start_lesson_button.style.display = "block"; 
                        }
                    }catch (error) {
                        console.log('no existing tasks')
                    }

                    /* moved to work on ready 
                    //something went wrong and the worker is stuck in a busy state with no task
                    console.log('^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^')
                    console.log(worker)
                    console.log(!reservations.data[0])
                    console.log(initialWorkerActivity)
                    if(!reservations.data[0] && worker.activityName == "Busy"){
                        worker.update({"ActivitySid":activity_Offline})

                    }
                    */
                    currentReservations = reservations;
                    
                    console.log(currentReservedTask)
                    //worker.com
                    complete_task(worker, currentReservedTask);
                },
                queryParams
            );

            //check to see if any tasks are currently assigned to you, if so, change status to busy

            // get current worker stats
            get_worker_stats()

        };

        function insertHtmlById(id, value){
            console.log(id)
            console.log(value)
            document.getElementById(id).innerHTML = value

        }

        function get_worker_stats(){
            //set global variables dynamically
            asdf = 'krish'
            window[asdf] = 'bankai';
            console.log(krish)
            // twilio dates are utc based
            var dateNow = new Date();

            endDate = dateNow.toISOString()
            //endDate = dateNow
            
            //console.log(d.toISOString());
            
            dateNow.setHours(0,0,0,0);
            console.log(dateNow)
            startDate = dateNow.toISOString()
            console.log(startDate)
            console.log(endDate);
            var queryParams = {"Minutes":"240"};
            var queryParams = {"StartDate":"2020-03-30T20:00:00-07:00", "EndDate":"2020-04-03T17:00:00-07:00"};
            var queryParams = {"StartDate":startDate, "EndDate":endDate};
            worker.statistics.fetch(
                queryParams,
                function(error, statistics) {
                    if(error) {
                        console.log(error.code);
                        console.log(error.message);
                        return;
                    }
                    console.log("fetched worker statistics: "+JSON.stringify(statistics));
                    console.log(statistics)
                    //console.log(statistics.realtime)
                    stt = statistics.cumulative;
                    console.log(stt)
                    console.log('~~~~~~~~~~~~~~~~~~~~')
                    console.log(stt.reservationsCompleted)
                    window['reservationsCompleted'] = stt.reservationsCompleted
                    window['reservationsTimedOut'] = stt.reservationsTimedOut
                    
                    console.log(statistics.cumulative.activityDurations)
                    myStringArray = statistics.cumulative.activityDurations
                    var arrayLength = myStringArray.length;
                    console.log(arrayLength)
                    for (var i = 0; i < arrayLength; i++) {
                        //console.log(myStringArray[i]);
                        //console.log(myStringArray[i].friendlyName);
                        // busy + '_stat'
                        stat_friendlyName = myStringArray[i].friendlyName.concat("_stat")
                        // time is in seconds for /60
                        window[stat_friendlyName] = myStringArray[i].avg / 60
                        //console.log(stat_friendlyName)
                        //Do something
                    }
                    console.log(Busy_stat)
                    insertHtmlById('reservationsCompleted',reservationsCompleted)
                    insertHtmlById('Busy_stat',Busy_stat)
                    insertHtmlById('reservationsTimedOut',reservationsTimedOut)
                    
                    
                    
                }
            );            


        }
    </script>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <style type="text/css" media="screen">

        html{background-color: #E5EDFD;}

        html * { 
            
            font-size: 1em !important;
            color: #1D1D1D !important;
            font-family: 'IBM Plex Mono', monospace !important;
        }
        

        .video, .start-zoom, .start-newrow, .start-agora {display:none;}
        
        button {
            width:auto !important;
        }
        section.agent-activity {
            line-height: normal;
            background-color: #FEFEFE;
        }     
        section.agent-activity button {
            background: #643BA2;
            color:#E5EDFD !important;
            height: auto;
            font-weight: bold;
            
            
        }
        section.header {
            line-height: 3 !important;
            background-color: #FEFEFE;
            width: auto;
            text-align: center;
        }

        .header-image{
            height:70%;
            float: left;
            padding: 3px;
        }
        p .header{
            background-image: url("//router-prototype.s3.eu-central-1.amazonaws.com/images/berlitz_logo.jpg");
            
        }

        .content {
            max-width:45% !important;
            width: 45%;
        }
        .stats-content {
            max-width: 45%;
            /* max-width: fit-content !important; */
            width: calc(55% - 2em);
            float:right !important;
            /* float: right; */
            margin-left: 2em !important;
        }
        .stats {
            max-width:45%;
        }
        section.agent-stats {
            line-height: normal; 
            background-color: #FEFEFE; 
        }

        section.agent-stats {
            
            border: 1px solid #848484;
            
            margin-bottom: 1em;
        }
        .stats_g{
            color: #27E217 !important;
        }
        .stats_b{
            color: blue !important;
        }

        .stats_p{
            padding: 5px;
        }

    </style>
</head>
<body>

<section class="header"  style="">
    <p class="header" style="height:50px">
        <img src ="//router-prototype.s3.eu-central-1.amazonaws.com/images/berlitz_logo.jpg.jpg" alt=" Berlitz" class="header-image" >
        <span><b>Lesson Router</b></span>    
</p>
</section> 
<div>
    <div class="content" style="float:left;">
        <section id="available_1" class="agent-activity Available"  style="line-height: 1 !important;">
            <p class="activity">Instructor: <span class="instructor_name"></span></p>
            <p class="activity">Status: <span style="color: #27E217 !important;">Connected</span>, Waiting</p>      
            <button class="change-activity" data-next-activity="Offline">Go Offline</button>
        </section>
        <section class="agent-activity Offline">
            <p class="activity">Instructor: <span class="instructor_name"></span></p>
            <p class="activity">Status: <span style="color: #FA0505 !important;">Offline</span></p>
            <button class="change-activity" data-next-activity="Available">Start</button>
        </section>
    <!--    
        <section class="agent-activity Offline">
            <p class="activity">Instructor: <span class="instructor_name"></span></p>
            <p class="activity">Status: <span style="color: #FA0505 !important;">Offline</span></p>
            <button class="change-activity" data-next-activity="Available">Start</button>
        </section>  
    -->
        <section class="agent-activity Busy"  style="line-height: 1 !important;">
            <p class="activity"><span>Lesson Connected!!</span></p>
            <p>Lesson: <span id="student_level"></span> - <span id="student_language"></span></p>
            <p>Student: <span id="student_name"></span></p>
            <!--<button class="change-activity" data-next-activity="Busy">Start Lesson</button>-->
            <button id="accept_res" class="accept-reservation" data-next-activity="Busy">Start Lesson</button>
            <button id="dafuq" class="complete-task" data-next-activity="Available">Complete Lesson</button>
            <section class="video" id="videosection">
                <p>Choose a video provider</p>
                <button id="zoom" class="start-zoom" data-next-activity="Busy">Start Zoom</button>
                <button id="newrow" class="start-newrow" data-next-activity="Busy">Start Newrow</button>
                <button id="agora" class="start-agora" data-next-activity="Available">Start Agora</button>
            </section>
        </section>
        
        <section class="agent-activity reserved">
            <p class="activity">Reserved</p>
        </section>
        <section class="agent-activity busy">
            <p class="activity">Busy</p>
        </section>
        <section class="agent-activity wrapup">
            <p class="activity">Wrap-Up</p>
            <button class="change-activity" data-next-activity="Available">Go Online</button>
            <button class="change-activity" data-next-activity="Offline">Go Offline</button>
        </section>
    </div>
    <div class="content stats-content" style="float:left;">
        <section id="show_stats" class="agent-stats   style="line-height: 1 !important;">
            <p class="stats_p">Lessons Today: <span id="reservationsCompleted" class="stats_b">0</span></p>
            <p class="stats_p">Average Duration: <span id="Busy_stat" class="stats_g">0</span> min</p>
            <p class="stats_p">Missed Lessons: <span id="reservationsTimedOut" class="stats_g">0</span></p>
            <p class="stats_p">Average Rating: <span class="stats_g">4.5</span></p>   
        </section>
    </div>
</div>
<section class="log">
    <textarea id="log" readonly="true"></textarea>
</section>
</body>
</html>