<!DOCTYPE html>
<html>
<head>
    <title>Customer Care - Voice Agent Screen</title>
    <link rel="stylesheet" href="//media.twiliocdn.com/taskrouter/quickstart/agent.css"/>
    <script src="//media.twiliocdn.com/taskrouter/js/v1.14/taskrouter.min.js"></script>
    <!--<script src="//SK44117cae0af7e1b95ba5f25e9d36d60b:AFOHa42tZRiNmSVeaE7dxotxjmv0AJc6@media.twiliocdn.com/taskrouter/js/v1.14/taskrouter.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        var initialTaskSid;
        window.onload = function() {
            videoclick("zoom", "https://berlitz-latam.zoom.us/j/5786229231");
            videoclick("newrow", "https://smart.newrow.com/#/room/gmn-082");
            videoclick("agora", "https://zealous-bardeen-39f31f.netlify.com/meeting.html");

            //sessionStorage.clear();
            // Initialize TaskRouter.js on page load using window.workerToken -
            // a Twilio Capability token that was set from rendering the template with agents endpoint
            logger("Initializing...");
            //window.worker = new Twilio.TaskRouter.Worker("{{ worker_token }}");
            window.worker = new Twilio.TaskRouter.Workspace("{{ worker_token }}");
            //window.workspace = new Twilio.TaskRouter.Workspace("{{ worker_token }}");
            //try to get the task that the current worker has - this is done incase of page refresh
            //or some issues to force cancel/complete previous task
            console.log(window.worker);

            document.getElementById('ct').onclick = function(){
                if(! sessionStorage.getItem("taskSid") ){
                data = {"name":"{{name}}", "level":"{{level}}", "language":"{{language}}", "uuid":"2345443"}
                console.log('task has been completed');
                $.ajax({
                url: '/create_task',
                data: JSON.stringify(data),
                contentType: 'application/json;charset=UTF-8',
                type: 'POST',
                success: function(response) {
                    console.log(response);
                    console.log(response.payload.taskSid)
                    initialTaskSid = response.payload.taskSid;
                    // Store
                    sessionStorage.setItem("taskSid", initialTaskSid);

                    //display video sections 
                    start_lesson_button = document.getElementById('videosection');
                    console.log('should be hiding the start lesson button now')
                    start_lesson_button.style.display = "block";   

                    checkTaskActivity(initialTaskSid);

                },
                error: function(error) {
                    console.log(error);
                }
                });

                } // end if

            }
            //sessionStorage.clear()
            console.log('are we in storage: ' + sessionStorage.getItem("taskSid"))
                if (sessionStorage.getItem("taskSid")){
                    console.log('should be running')
                    var meh = checkTaskActivity
                    setInterval(meh, 5000)
                }
            
                //setInterval(function(){ console.log("Hello"); }, 5000);
            /*
            // Initialize TaskRouter.js on page load using window.workerToken -
            // a Twilio Capability token that was set from rendering the template with agents endpoint
            logger("Initializing...");
            window.worker = new Twilio.TaskRouter.Worker("{{ worker_token }}");
            //window.workspace = new Twilio.TaskRouter.Workspace("{{ worker_token }}");
            //try to get the task that the current worker has - this is done incase of page refresh
            //or some issues to force cancel/complete previous task
            current_worker_sid = "{{current_worker_sid}}";
            console.log(window.worker);
            console.log(current_worker_sid)
            console.log('above');
            var queryParams = {"ReservationStatus":"accepted", "WorkerSid":current_worker_sid};
            worker.fetchReservations(
                function(error, reservations) {
                    if(error) {
                        console.log(error.code);
                        console.log(error.message);
                        return;
                    }
                    console.log(reservations)
                    var data = reservations.data;
                    for(i=0; i<data.length; i++) {
                        console.log(data[i].sid);
                        
                    }
                    console.log('ggggggggggggggggggggggg')
                    console.log(data)
                    try{
                        currentReservedTask = reservations.data[0].taskSid
                        currentTaskAttr = reservations.data[0].task.attributes
                        document.getElementById("student_level").innerHTML = currentTaskAttr.level ;
                        document.getElementById("student_language").innerHTML = currentTaskAttr.language ;
                        document.getElementById("student_name").innerHTML = currentTaskAttr.name ;
                    }catch (error) {
                        console.log('no existing tasks')
                    }
                    
                    console.log(currentReservedTask)
                    worker.com
                    complete_task(worker, currentReservedTask);
                },
                queryParams
            );
            */
        };
        function logger(message) {
            var log = document.getElementById('log');
            log.value += "\n> " + message;
            log.scrollTop = log.scrollHeight;
        }
        function checkTaskActivity(initialTaskSid=sessionStorage.getItem("taskSid")){
            current_worker_sid = "{{current_worker_sid}}";
            /*
            console.log(current_worker_sid)
            console.log('above');
            var queryParams = {"ReservationStatus":"accepted", "TaskSid":initialTaskSid};
            queryParams = {"ReservationStatus":"accepted", "TaskSid":initialTaskSid};
            var attributes = "{\"uuid\":\"2345443\"}";
            queryParams = {"Attributes":attributes};
            worker.tasks.fetch(
                function(error, taskList) {
                    if(error) {
                        console.log(error.code);
                        console.log(error.message);
                        return;
                    }
                    var data = taskList.data;
                    var cancelAttrs = {"AssignmentStatus":"canceled", "Reason":"waiting"}
                    for(i=0; i<data.length; i++) {
                        var task = data[i];
                        
                    //    task.update("WTxxx", cancelAttrs,
                    //    function(error, task) {
                    //        if(error) {
                    //        console.log(error.code);
                    //        console.log(error.message);
                    //        return;
                    //        }
                    //        console.log("Attributes: "+JSON.stringify(task.attributes));
                    //    }
                    //    );
                        
                        console.log(task)
                    }
                }
            );
            */
            console.log(initialTaskSid)
            checkTaskSid =  sessionStorage.getItem("taskSid");
            if(checkTaskSid){
                worker.tasks.fetch(checkTaskSid,
                    function(error, task) {
                        if(error) {
                            //task doesnot exist in Twilio, so remove from our storage
                            sessionStorage.clear();
                            console.log(error.code);
                            console.log(error.message);
                            return;
                        }
                        console.log(JSON.stringify(task.attributes));
                        console.log(task)

                        //when assigned to reserved/pending then need to run 370 from agent.html to get worker details -- fuck
                    }
                );
            }
            console.log('is interval working?')



        }
        function videoclick(classId, videolink){
            console.log("try to set video buttons");
            //turn button on
            video_button = document.getElementById(classId);
            console.log(video_button)
            video_button.style.display = "inline-block";
            video_button.onclick = function(){
                console.log('button has been clicked, time to open video link to:');
                console.log(videolink);
                window.open(videolink)
                
            }            
        }
            
     </script>
    <style type="text/css" media="screen">
        html{background-color: #E5EDFD;}

        html * { 
            
            font-size: 1em !important;
            color: #1D1D1D !important;
            font-family: 'IBM Plex Mono', monospace !important;
        }
        .video, .start-zoom, .start-newrow, .start-agora {display:none;}
        
        
        section.header {
            line-height: 3 !important;
            background-color: #FEFEFE;
            width: auto;
            text-align: center;
        }

        .header-image{
            height:90%;
            float: left;
        }

        /* The Modal (background) */
        .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content/Box */
        .modal-content {
        background-color: #643BA2;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
        }

        /* The Close Button */
        .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        }

        .close:hover,
        .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
        }        
        
    </style>     
</head>
<body>
<section class="header"  style="">
    <p class="header" style="height:50px">
        <img src ="//router-prototype.s3.eu-central-1.amazonaws.com/images/berlitz_logo.jpg.jpg" alt=" Berlitz" class="header-image" >
        <span>Lesson Router</span>    
</p>
</section>     
<div class="content">
    <section class="agent-activity Available"  style="line-height: 1 !important;">
        <p class="activity">Current Online, </br> waiting for students</p>
        <button class="change-activity" data-next-activity="Offline">Go Offline</button>
    </section>
    <section class="agent-activity Offline">
        <p class="activity"><span>Currently Offline</span></p>
        <button class="change-activity" data-next-activity="Available">Go Online</button>
    </section>
    <section class="agent-activity Busy"  style="line-height: 1 !important; display:block !important;">
        <p class="activity"><span>Connect with a Berlitz Instructor</span></p>
        <p>lesson: <span id="student_level">{{level}}</span> - <span id="student_language">{{language}}</span></p>
        <p>Student Name: <span id="student_name">{{name}}</span></p>
        <!--<button class="change-activity" data-next-activity="Busy">Start Lesson</button>-->
        <button id="ct" class="accept-reservation" data-next-activity="Available">Join a session Now</button>
        <!--<button id="dafuq" class="complete-task" data-next-activity="Available">Lesson Completed</button>-->
        <section class="video" id="videosection">
            <p>Choose a video provider</p>
            <button id="zoom" class="start-zoom" data-next-activity="Busy">Start Zoom</button>
            <button id="newrow" class="start-newrow" data-next-activity="Busy">Start Newrow</button>
            <button id="agora" class="start-newrow" data-next-activity="Busy">Start Agora</button>
        </section>        
    </section>
    
    <section class="agent-activity reserved">
        <p class="activity">Reserved</p>
    </section>
    <section class="agent-activity busy">
        <p class="activity">Busy</p>
    </section>
    <section class="agent-activity wrapup">
        <p class="activity">Wrap-Up</p>
        <button class="change-activity" data-next-activity="Available">Go Online</button>
        <button class="change-activity" data-next-activity="Offline">Go Offline</button>
    </section>
    <section class="log">
      <textarea id="log" readonly="true"></textarea>
    </section>
</div>
<!--

<button id="myBtn">Open Modal</button>


<div id="myModal" class="modal">


  <div class="modal-content">
      <h3>join with a berlitz instructor now</h3>
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>

</div>
<script>
        
        //modal stuff
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on the button, open the modal
        btn.onclick = function() {
        modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
        modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
        }        


</script>
-->
</body>
</html>